body{
    background-color: #eee;
}
h1 {
  color: rgb(54, 104, 116);
  text-align: center;
  margin-top: 50px;
}
h2 {
  color: red;
}
h3 {
  color: #00bcd4;
  margin-left: 15px;
}
a {
  text-decoration: none;
  color: blueviolet;
}
hr {
  height: 2px;
  background-color: rgb(21, 129, 37);
}
